{% extends 'layouts/base.html' %}

{% block content %}

<h1>Abaut</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At quisquam laboriosam modi. Et commodi perspiciatis ipsum numquam nihil saepe corrupti magni consectetur eius voluptatem alias asperiores voluptates, aliquid impedit quis quia, porro officia? Perspiciatis amet explicabo sequi veritatis expedita, suscipit, quibusdam, dicta recusandae labore culpa quia accusamus libero error architecto tempore sunt fugit mollitia maxime omnis. Magnam, harum enim, dolor incidunt reiciendis unde vitae inventore illo doloribus illum dolorum corrupti quidem neque aspernatur minima. Earum at unde facilis repellat? Animi perspiciatis quaerat totam laborum voluptatibus quisquam suscipit perferendis deleniti sit veritatis necessitatibus accusamus, fuga officiis delectus quod voluptatum numquam eveniet.</p>

<p>Sitio Web creado por {{username}}</p>

{% endblock %}